a,
a:hover,
a:active,
a:visited {
	color: inherit;
	text-decoration: none !important;
	background: none !important;
	outline: none;
}

/*** Palette 
712F79
4C4C9D
48639C
976391
F7996E
***/

/*** Header ***/

.header {
	padding: 1.5em 6% 1em;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 10;
}

/* Navigation */
.navigation {
    width: 50%;
}
/* Endregion */

/* Social Links */
.social-links {
    width: 50%;
    text-align: right;
    vertical-align: baseline;
    margin-right: -4px;
    float: right;
}

.social-links > li {
	display: inline-block;
}

.social-links > li > a {
    position: relative;
    padding: 5px;
    -webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.social-links > li > a:hover {
	color: #F7996E;
}
/* Endregion */

/* Home Section */
#home { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
	justify-content: center;
}

#home .wrapper {
	max-width: 80%;
	margin: auto;
    margin-right: 10%;
    display: flex;
	align-items: center;
}
@media (min-width: 768px) {
	#home .wrapper {
		margin-right: 24%;
	}
}

.home-intro-left {
	margin-bottom: 1em;
    max-width: 25em;
    font-size: 2.2em;
    padding-right: 20px;
}

.home-intro-right {
	border-left: 2px solid;
	padding-left: 2.2em;
	margin-bottom: 1em;
	max-width: 25em;
}
/* Endregion */

/* Mouse */
.mouse-wrapper {
	width: 100%;
}

.mouse
{
height: 42px;
width: 24px;
margin-left: 50%;
margin-right: 50%;
  border-radius: 14px;
  transform: none;
  border: 2px solid #888;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #888;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid  #888;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  

}

.wheel
{
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/* Endregion */

/* Projects Section */
#projects { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
	justify-content: center;
}

/* Contact Section */
#contact { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
	justify-content: center;
}

/* Projects */

.project-header {
  padding: 25px 10px;
  font-size: 200%;
  width: 100%;
}

.project-wrapper {
  padding: 0 10px;
  width: 100%;
}

.portfolio-project {
	position: relative;
  height: auto;
  padding: 0;
	background-color: #f7fbde;
	background-clip: padding-box;
	border: 10px solid transparent;
  overflow: hidden;
  border-radius: 25px;
}
.portfolio-project-preview {
	position: relative;
	top: 0;
  height: auto;
}

.portfolio-project-preview > img {
	width: 100%;
  height: auto;
}

.portfolio-project__description {
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 1.8em 1.3em;
	text-align: center;
	background: #fff;
}

.portfolio-project__name {
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	margin: 0;
	margin-bottom: .2em;
}

.portfolio-project__category {
	font-size: .9em;
	color: #dcd5b2;
	margin-bottom: .6em;
}

.portfolio-project-preview,
.portfolio-project__description {
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
}

.portfolio-project:hover .portfolio-project__description {
	-webkit-transform: translateY(-100%);
	        transform: translateY(-100%);
}
.portfolio-project:hover .portfolio-project-preview {
	-webkit-transform: translateY(-2.5em);
	        transform: translateY(-2.5em);
}